## Final Project Submission

Please fill out:
* Student name: Ian Macharia
* Student pace:  full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# Movie studio analysis

In [5]:

# importing relevant Packages.
""" The packages we use are the built upon base Python language
They include:
Numpy Package for mathematical analysis if we will need
Pandas package - which will be used for cleaning and subsetting the data into dataframe
SQlite3 package for extracting data from databases used.
Matplotlib package for some basic visualization
Seaborn package for more detailed visualizations
it is common practice to import the packages using their aliases rather than having to call their full names.
"""

import numpy as np
import pandas as pd
import sqlite3 as sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
"""This is data on the gross sales of movies"""

#reading the data
movie_gross = pd.read_csv("Data/bom.movie_gross.csv")

#looking into the data
print(movie_gross)


"""We notice the data contains 3387 rows and five columns as below:"""

movie_gross.columns

                                            title      studio  domestic_gross  \
0                                     Toy Story 3          BV     415000000.0
1                      Alice in Wonderland (2010)          BV     334200000.0
2     Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
3                                       Inception          WB     292600000.0
4                             Shrek Forever After        P/DW     238700000.0
...                                           ...         ...             ...
3382                                    The Quake       Magn.          6200.0
3383                  Edward II (2018 re-release)          FM          4800.0
3384                                     El Pacto        Sony          2500.0
3385                                     The Swan  Synergetic          2400.0
3386                            An Actor Prepares       Grav.          1700.0

     foreign_gross  year
0        652000000  2010
1        691300000  2010
2        664300000  2010
3        535700000  2010
4        513900000  2010
...            ...   ...
3382           NaN  2018
3383           NaN  2018
3384           NaN  2018
3385           NaN  2018
3386           NaN  2018

[3387 rows x 5 columns]

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [7]:
#next, we check wether this data contains any missing information
movie_gross.info()
"""We notice the data contains missing values in all columns except two: title and year"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

'We notice the data contains missing values in all columns except two: title and year'

In [8]:
#counting the missing values in the other columns
movie_gross.isnull().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [9]:
print("""We observe that the title and year columns do not have missing values
Studio column has 5 missing values,
domestic_gross has 28 missing values and 
foreign_gross has the most missing values with 1350 rows missing values""")

We observe that the title and year columns do not have missing values
Studio column has 5 missing values,
domestic_gross has 28 missing values and
foreign_gross has the most missing values with 1350 rows missing values

In [10]:
print("""To be able to conduct analysis using this data
we need to remove or replace the missing values""")

To be able to conduct analysis using this data
we need to remove or replace the missing values

In [39]:
#checking missing values in the studio column
movie_gross[movie_gross.studio.isnull()]

,title,studio,domestic_gross,foreign_gross,year
210,Outside the Law (Hors-la-loi),NaN,96900.0,3300000.0,2010
555,Fireflies in the Garden,NaN,70600.0,3300000.0,2011
933,Keith Lemon: The Film,NaN,NaN,4000000.0,2012
1862,Plot for Peace,NaN,7100.0,NaN,2014
2825,Secret Superstar,NaN,NaN,122000000.0,2017

#reading additional datasets
movie_info = pd.read_table("Data/rt.movie_info.tsv",index_col=None)

#looking into the data
movie_info

#counting the missing values
movie_info.isnull().sum()

In [14]:
print("""We observe that only the id column does not have missing values
looking at the extreem number of missing valuesin the currencyand box office columns,
we have no option but to drop them.
we cankeep the studio column and try later to fill them from movie_gross dataset.""")

We observe that only the id column does not have missing values
looking at the extreem number of missing valuesin the currencyand box office columns,
we have no option but to drop them.
we cankeep the studio column and try later to fill them from movie_gross dataset.

#reading additional datasets
movie_reviews = pd.read_table("Data/rt.reviews.tsv",encoding='unicode_escape',index_col=False)

#looking into the data
movie_reviews

movie_reviews.isnull().sum()

"""We observe  """
movie_reviews.info()