## Final Project Submission

Please fill out:
* Student name: Ian Macharia
* Student pace:  full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# Movie studio analysis

### Importing relevant packages

In [1]:

# importing relevant Packages.
"""The packages we use are the built upon base Python language
They include:
Numpy Package for mathematical analysis if we will need
Pandas package - which will be used for cleaning and subsetting the data into dataframe
SQlite3 package for extracting data from databases used.
Matplotlib package for some basic visualization
Seaborn package for more detailed visualizations
it is common practice to import the packages using their aliases rather than
having to call their full names.
"""
#importing Numpy
import numpy as np
#importing Pandas
import pandas as pd
#importing SQLite3
import sqlite3 as sqlite3
#importing Matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
#importing Seaborn
import seaborn as sns

## Data Understanding

### Reading Datasets

#### Data set one: Movie Gross Sales

In [2]:
"""This is data on the gross sales of movies"""

#reading the data
movie_gross = pd.read_csv(".Data/bom.movie_gross.csv")

#looking into the data
#print(movie_gross)


"""We notice the data contains 3387 rows and five columns as below:"""

movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

##### Cleaning  this dataset

In [ ]:
#next, we check wether this data contains any missing information
movie_gross.info()
print("""We notice the data contains missing values in all columns except two: title and year
we also notice the foreign_gross is anobject type yet it is an integer
We observe that the title and year columns do not have missing values
Studio column has 5 missing values,
domestic_gross has 28 missing values and 
foreign_gross has the most missing values with 1350 rows missing values""")

In [ ]:
movie_gross['foreign_gross'] = movie_gross['foreign_gross'].str.replace(',', '').astype(float)
movie_gross.info()

In [ ]:
#counting the missing values in the other columns
movie_gross.isnull().sum()

In [ ]:
"""to be able to understand the data better, we are going tosubset it below
to only contain data in the foreign gross without the missing rows. 
we will then carry out descriptive analysis of the same to understand the mean, maximum value,
minimum valueand thestandard deviation. """
#the code below drops all the missing values
mvg = movie_gross['foreign_gross'].dropna()
#we encountered a value that contained a coma(,) so we needed to remove it
mvg = mvg.replace(',', '').astype(float)
#below are the statitstical analysis of the new data frame with 2037 rows
print("Number of Rows:", mvg.count())
print("Maximum Value:", mvg.max())
print("Minimum Value:", mvg.min())
print("Mean:", mvg.mean().round())
print("Median Value:", mvg.median())
print("Standard Deviation:", mvg.std().round())

In [ ]:
#randnum = list(np.random.randint(low=600, high=9605000))
#type(randnum)
mvg = movie_gross['foreign_gross']
#movie_gross.foreign_gross = movie_gross.foreign_gross.fillna(randnum)
print (mvg.apply(lambda x: np.random.randint(low=600, high=9605000) if pd.isnull(x) else x))

In [ ]:
"""This is a function that generates a series of 
random numbers between min value 600 and value 9605000, 
since using the max value will give a skewed datsset
we with use these numbers to fill the null values in the data,
so that we can avoid removing almost 40% of the data.
"""

def rand_gross_null(data):
    replace_null = mvg.apply(lambda x: np.random.randint(low=600, high=9605000) if pd.isnull(x) else x)
    return replace_null

In [ ]:
#Here we apply the above function to our dataset and confirm the changes are made.
movie_gross['foreign_gross'] = rand_gross_null(movie_gross['foreign_gross'])


movie_gross['foreign_gross']

In [ ]:

print("""Looking at the new dataset,we observe a huge unrealisting  replacement on some of the values
a movie could not possibly earn more in that 100% the domestic market in the foreign market;
we check our previously subset data without the replaced value find if there were any occurences  of the same.
We observe that this is a normal occurence although not at that percentage.
To be able to make a more informed decision,
we will look at how such a change will affect the meanmedian and standard 
deviation for our original dataset.""")
movie_gross

In [ ]:
"""To be able to conduct analysis using this data
we need to remove or replace the missing values"""
#removing missing values in the studio column
movie_gross.dropna(subset=['studio'], inplace=True)
#removing missing values in the domestic_gross column
movie_gross.dropna(subset=['domestic_gross'], inplace=True)

In [ ]:
#checking for any zero values
movie_gross.isin([0]).sum(axis=0)

In [ ]:
print(movie_gross.info())
print(""" we now see the final dataframe has a total of 3356 after final cleaning. 
Now our dataset is ready to use""")

##### Data set two: Movie information

In [ ]:
#reading additional datasets
movie_info = pd.read_table(".Data/rt.movie_info.tsv",index_col=None)

#looking into the data
movie_info

In [ ]:
movie_info.info()

In [ ]:
#counting the missing values
movie_info.isnull().sum()

We observe that only the id column does not have missing values
looking at the extreem number of missing valuesin the currency and box office columns,
we have no option but to drop them.
we can keep the studio column and try later to fill them from movie_gross dataset.
alternatively we can discard it from use at this time.

In [ ]:
movie_info = movie_info.dropna()
movie_info

The above function significantly redues out dataset, therefore using in in the analysis will mean a reduced number of datapoints therefore we will not have a comprehensive analysis.
We can opt to use it in the end while sampling to try and explain our findings

##### Data set three: Movie Reviews

In [ ]:
#reading additional datasets
movie_reviews = pd.read_table(".Data/rt.reviews.tsv",encoding='unicode_escape',index_col=False)

#looking into the data
movie_reviews

In [ ]:
#counting the missing values
print("Number of missing values per column:")

print(movie_reviews.isnull().sum())

print("""We observe the data contain a very high number of mising values
therefore we might consider not using this dataset at this time,
just as the above dataset. 
although the initial data contains 54432 rows, 
and the resulting rows after the drop are 33988 
""")

In [ ]:
movie_reviews = movie_reviews.dropna()
movie_reviews

##### Data set four: Movies

In [ ]:
#reading additional datasets
movies = pd.read_csv(".Data/.tmdb.movies.csv",index_col=0)#,encoding='unicode_escape',index_col=False)

#looking into the data
movies

In [ ]:
#counting the missing values
movies.info()

In [ ]:
#removing zero values from the dataset
movies.isin([0]).sum(axis=0)
movies = movies.drop(movies[movies['vote_average'] == 0].index, axis=0)
movies.isin([0]).sum(axis=0)

In [ ]:
print("""From this dataframe, we observe there are no missing values, 
but upon investigation of the data
we notice that they used placeholders
in the data such as - _EXHIBIT_84xxx_ in the column original title,
0.600 for the popularity column and 0.0 in the vote_average column,
among other unidentified values.
we can deal with this later just before visualization.
""")

##### Data set five: Movie Budgets

In [ ]:
#reading additional datasets
movie_budgets = pd.read_csv(".Data/.tn.movie_budgets.csv",index_col=0)#,encoding='unicode_escape',index_col=False)

#looking into the data
movie_budgets

In [ ]:
"""Here we will write a function that will strip
commas and dollar sign on the production_budget,domestic_gross and worldwide_gross
"""
#striping from production budget column
movie_budgets.production_budget = movie_budgets.production_budget.str.replace('$', '')
movie_budgets.production_budget = movie_budgets.production_budget.str.replace(',', '')
movie_budgets.production_budget = movie_budgets.production_budget.astype(int)

In [ ]:
#striping from domestic gross column
movie_budgets.domestic_gross = movie_budgets.domestic_gross.str.replace('$', '')
movie_budgets.domestic_gross = movie_budgets.domestic_gross.str.replace(',', '')
movie_budgets.domestic_gross = movie_budgets.domestic_gross.astype(int)

In [ ]:
#striping from domestic gross column
movie_budgets.worldwide_gross = movie_budgets.worldwide_gross.str.replace('$', '')
movie_budgets.worldwide_gross = movie_budgets.worldwide_gross.str.replace(',', '')
movie_budgets = movie_budgets.rename(columns={'movie':'title'})
movie_budgets.worldwide_gross = movie_budgets.worldwide_gross.astype(float)

In [ ]:
movie_budgets.info()

In [ ]:
movie_budgets.isnull().sum()

In [ ]:
#checking zero values in the dataframe
movie_budgets.isin([0]).sum(axis=0)
movie_budgets = movie_budgets.drop(movie_budgets[movie_budgets["domestic_gross"] == 0].index, axis=0)
movie_budgets.isin([0]).sum(axis=0)

#Here we calculate the foreign sales by subrtacting domestic sales from worldwide sales
#mov_analysis['foreign_gross'] = mov_analysis['worldwide_gross'] - mov_analysis['domestic_gross']
def calculate_foreign_gross(row):
    return row['worldwide_gross'] - row['domestic_gross']
mov_analysis['foreign_gross'] = mov_analysis.apply(calculate_foreign_gross, axis=1)

### Reading Final dataset

#### Im Database

In [ ]:
# Open up a connection
conn = sqlite3.connect('.Data/.im.db')
# Initialize a cursor
cursor = conn.cursor()

In [ ]:
table_name_query = """SELECT name 
                      AS 'Table Names' 
                      FROM sqlite_master 
                      WHERE type='table';"""

pd.read_sql(table_name_query, conn)

In [ ]:
imdb_mov_basic = pd.read_sql("""
SELECT *
FROM movie_basics

""",conn)
imdb_mov_basic

In [ ]:
imdb_mov_ratings = pd.read_sql("""
SELECT *
FROM movie_ratings

""",conn)
imdb_mov_ratings

In [ ]:
imdb_mov_aka = pd.read_sql("""
SELECT *
FROM movie_akas

""",conn)
imdb_mov_aka

In [ ]:
imdb = pd.read_sql("""
SELECT  movie_basics.movie_id,
        movie_basics.genres,
        movie_basics.runtime_minutes,
        movie_ratings.averagerating,
        movie_akas.title
FROM movie_basics
JOIN movie_ratings ON movie_basics.movie_id = movie_ratings.movie_id
JOIN movie_akas ON movie_ratings.movie_id = movie_akas.movie_id;
""",conn)
imdb

#### Cleaning resulting dataframe

In [ ]:
#Checking for missing values
imdb.info()

print("We find there are missing values as follows:", imdb.isnull().sum())

In [ ]:
#checking for Duplicates
print("Number of duplicated rows:", imdb.movie_id.duplicated().sum())
print("We observe:", imdb.movie_id.duplicated().sum(), "rows; have been duplicated and we drop them below")

#droping duplicated values
imdb.drop_duplicates(subset='movie_id',inplace=True)

print("Resulting dataframe has:", len(imdb), "rows; from the previous 261806" )
imdb

In [ ]:
"""We further observe that the data missing in the movies_id column is a dulpicate
therefore we remove it from our dataset as below"""
imdb.movie_id.dropna(inplace=True)

In [ ]:
"""It is standard practice to fill missing values with values already in our dataset,
which is what we have done here"""
#filling Null values
imdb.fillna(method='ffill',inplace=True)

#checking changes in the dataframe
imdb

## Data Visualization

### Understanding Project Requirements

The project must focus on identifying the types of movies that are currently doing well in the market and provide actionable insights to the head of Microsoft's new movie studio. The stakeholders in this project include Microsoft executives, investors, and potential moviegoers who are interested in watching new and exciting movies.
The problem is to find the right strategy for Microsoft's new movie studio by understanding the audience's preferences and current market trends. By identifying the types of films that are currently successful, Microsoft can create a plan that aligns with the market's demand and attract potential customers.

To explore what types of films are currently doing the best at the box office, we can analyze the provided data set of movies. The relevant columns to consider for this analysis are genres, averagerating, domestic_gross, and worldwide_gross.

In [ ]:
"""We might want to group the data using the genres column in order to carry out analysis 
on the runtimes and ratings for each genre"""
#we will group the data as follows
grouped_data = imdb.groupby('genres')
#to have data displayed ina dataframe we would need to aggregate the values in the other columns. 
genre_data = grouped_data.mean()[['runtime_minutes', 'averagerating']]
genre_data.reset_index(inplace=True)

In [ ]:
#resulting dataframe


"""We can then use this data to create visual plots to show the relationship
between genres, ratings and runtime"""

In [ ]:

# Create a variable with the count of movies in each genre
genre_count = imdb['genres'].value_counts()

# Replace values with less than 100 values with NaNs
genre_count = genre_count.mask(genre_count <= 1000)

# Drop rows containing NaNs
genre_count = genre_count.dropna()

# Convert dictionary to pandas Series
genre_series = pd.Series(genre_count, dtype=float)

In [ ]:
genre_series

In [ ]:

#Plotting
plt.figure(figsize=(12,6))
sns.barplot(x=genre_series.index, y=genre_series.values)
plt.xticks(rotation=90)
plt.xlabel('Genre')
plt.ylabel('Number of Movies')
plt.title('Total Number of Movies by Genre')
plt.show()

In [ ]:
"""We can then investigate the relationship between
runtime and average rating using a scatter plot"""
plt.figure(figsize=(12,6))
sns.scatterplot(x='runtime_minutes', y= 'averagerating',hue='genres',legend=False ,data=genre_data)
plt.xlabel('Runtime in Minutes')
plt.ylabel('Average Rating')
plt.title('Relationship Between Runtime and Average Rating')

In [ ]:
genre_data

In [ ]:
"""We can create a boxplot showing the distribution of Average ratings 
by Genre"""
plt.figure(figsize=(12,6))
sns.boxplot(x='genres', y='averagerating', data=genre_data)
plt.xticks(rotation=90)
plt.xlabel('Genre')
plt.ylabel=('Average Rating')
Plt.title=('Distribution od Average Ratings by Genre')
plt.show()

merged_df = pd.merge(df1, df2, left_on="matched_title", right_on="title")

The business problem is that Microsoft wants to enter the movie industry and create a new movie studio. However, they have limited knowledge about creating movies, and they need to understand the market demand and what types of films are currently successful at the box office.

To address this problem, the project must focus on identifying the types of movies that are currently doing well in the market and provide actionable insights to the head of Microsoft's new movie studio. The stakeholders in this project include Microsoft executives, investors, and potential moviegoers who are interested in watching new and exciting movies.

The problem is to find the right strategy for Microsoft's new movie studio by understanding the audience's preferences and current market trends. By identifying the types of films that are currently successful, Microsoft can create a plan that aligns with the market's demand and attract potential customers.

The value of this project is to help Microsoft make informed decisions about creating a new movie studio by providing actionable insights about the types of films that are currently successful. This will help Microsoft minimize risks, reduce costs, and increase the chances of success in a highly competitive market.

Overall, the project's goal is to assist Microsoft in creating a successful movie studio by identifying the types of films that are currently successful and translating these findings into actionable insights that can guide decision-making.

#### 
To explore what types of films are currently doing the best at the box office, we can analyze the provided data set of movies. The relevant columns to consider for this analysis are genres, averagerating, domestic_gross, and worldwide_gross.

First, we can group the movies by genres and calculate the average rating, domestic gross, and worldwide gross for each genre. This will give us an idea of which genres are more popular among audiences and are generating more revenue. We can use this information to identify the top genres that Microsoft's new movie studio should focus on.

Second, we can analyze the relationship between the movie rating and revenue. This analysis will give us insights into the impact of ratings on box office performance. It will help us understand whether higher-rated movies tend to perform better or not.

Finally, we can also look at the release date of the movies to see if there are any trends or patterns. This analysis can help us identify the best time to release a movie for maximum revenue.

Overall, by analyzing the provided dataset, we can provide actionable insights to Microsoft's new movie studio regarding what types of films to create.

"""We can start by analyzing the imdb dataframe to get an understanding of the count of movies
based on the genre."""
#We will need to firt create a column of unique genres that involves striping the commas
imdb['genres'] = imdb['genres'].str.split(',')
imdb['genres']
#next we create a list of unique genres
all_genres = set([genre for genres in imdb['genres'] for genre in genres])
#after we create a dictionary to store the count of movies for each genre
genre_counts = {}
for genre in all_genres:
    count = len(imdb[imdb["genres"].apply(lambda x: genre in x)])
    genre_counts[genre] = count
# convert the dictionary to a dataframe and sort by count of movies
genre_counts_df = pd.DataFrame.from_dict(genre_counts, orient="index", columns=["count"])
genre_counts_df.sort_values("count", ascending=False, inplace=True)


# plot the bar chart
plt.bar(genre_counts_df.index, genre_counts_df["count"])
plt.xticks(rotation=90)
plt.xlabel("Genre")
plt.ylabel("Count of Movies")
plt.title("Count of Movies by Genre")
plt.show()